In [1]:
import os
if os.path.isdir('/scratch/dmpowell'):
    os.environ['TRANSFORMERS_CACHE'] = '/scratch/dmpowell/.cache/huggingface'
print(os.getenv('TRANSFORMERS_CACHE'))

import numpy as np

import pandas as pd
import json
import janitor

from easyeditor.custom import * # gets my custom functions
from ast import literal_eval

/scratch/dmpowell/.cache/huggingface

/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: '/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/torchvision/image.so: undefined symbol: _ZN3c106detail23torchInternalAssertFailEPKcS2_jS2_RKSs'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(

In [2]:
def load_result(filename):
    x = pd.read_csv(filename, converters={'fwd_choices':literal_eval, 'rev_choices':literal_eval})
    return(x)


def filter_evals(baseline_result, edits_df, eval_df):
    corr_memberships = baseline_result.loc[lambda x: x.property=="category_membership"].loc[lambda x: x.correct_fwd]
    # join w/ edits/evals on corr_memberships.subj == edits/evals.subj 
    # when editing dogs, only test labradors if it knew labradors were dogs
    
    category_property_evals = eval_df.loc[lambda x: (x.entity.isin(corr_memberships.entity) & (x.edit_type == "category property"))]

    corr_properties = baseline_result.loc[lambda x:(x.correct_fwd) | (x.property=="category_membership")]
    # join w/ edits/evals on corr_properties.subj = eval_df.entity and property=property
    # when editing whether a dog is a cow, only test on properties it knew cows have
    # and only test "unchanged" properties it knew dogs have

    # corr_properties

    category_membership_evals = (
        pd.merge(
            corr_properties.filter(["entity", "property"]),
            eval_df.loc[lambda x: x.edit_type == "category membership"],
            how = "left",
            on = ["entity", "property"]
        )
    )

    out = pd.concat([category_property_evals, category_membership_evals])

    return(out)


def filter_edits_evals(baseline_result, edits_df, eval_df):
    filtered_evals = filter_evals(baseline_result, edits_df, eval_df)
    filtered_edits = edits_df.loc[lambda x: x.edit.isin(filtered_evals.edit)]

    return(filtered_edits, filtered_evals)

In [3]:



baseline_df, edits_df, eval_df = load_data()

res = load_result("results/csv/meta-llama-Llama-2-7b-hf-baseline.csv")

filtered_evals = filter_evals(res, edits_df, eval_df)

filtered_evals.loc[lambda x: x.property=="category_membership"]
edits_df, eval_df =  filter_edits_evals(res, edits_df, eval_df)
edits_df.shape, eval_df.shape

((1624, 13), (10782, 23))

In [7]:
edits_df.drop_duplicates("property").shape

(51, 13)

In [8]:
edits_df.drop_duplicates("subj").shape

(165, 13)

In [9]:
edits_df.drop_duplicates("entity").shape

(41, 13)

In [125]:


corr_memberships = res.loc[lambda x: x.property=="category_membership"].loc[lambda x: x.correct_fwd]
# join w/ edits/evals on corr_memberships.subj == edits/evals.subj 
# when editing dogs, only test labradors if it knew labradors were dogs
eval_df.loc[lambda x: x.entity.isin(corr_memberships.entity)]

,index,entity,orig_entity,token_type,edit_type,edit,subj,property,query_fwd,query_rev,...,answer_fwd,answer_rev,orig_answer_fwd,orig_answer_rev,foil1,foil2,foil3,orig_answer,entity_type,superordinate_category
0,0,dog,cat,typical,category membership,Siamese -> dog,Siamese,category_membership,a <subj> is a kind of <answer>,a <subj> is a kind of <answer>,...,dog,<subj>,cat,None,None,None,None,None,None,animal
1,1,dog,cow,typical,category membership,Holstein -> dog,Holstein,category_membership,a <subj> is a kind of <answer>,a <subj> is a kind of <answer>,...,dog,<subj>,cow,None,None,None,None,None,None,animal
2,2,dog,pig,typical,category membership,Hampshire -> dog,Hampshire,category_membership,a <subj> is a kind of <answer>,a <subj> is a kind of <answer>,...,dog,<subj>,pig,None,None,None,None,None,None,animal
3,3,dog,bird,typical,category membership,sparrow -> dog,sparrow,category_membership,a <subj> is a kind of <answer>,a <subj> is a kind of <answer>,...,dog,<subj>,bird,None,None,None,None,None,None,animal
4,4,dog,bee,typical,category membership,bumblebee -> dog,bumblebee,category_membership,a <subj> is a kind of <answer>,a <subj> is a kind of <answer>,...,dog,<subj>,bee,None,None,None,None,None,None,animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11358,124,tea,None,typical,category property,tea is stored and served from a beer keg,tea,served_from,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,beer keg,None,None,None,None,None,None,kettle,tea,drink
11359,128,beer,None,typical,category property,beer is a beverage served at a winery,beer,popular_at,<subj> is a beverage served at a <answer>,a beverage served at a <answer> is <subj>,...,winery,None,None,None,None,None,None,brewery,beer,drink
11360,132,wine,None,typical,category property,wine is a beverage served at a brewery,wine,popular_at,<subj> is a beverage served at a <answer>,a beverage served at a <answer> is <subj>,...,brewery,None,None,None,None,None,None,winery,wine,drink
11361,136,coffee,None,typical,category property,coffee is a beverage served at a winery,coffee,popular_at,<subj> is a beverage served at a <answer>,a beverage served at a <answer> is <subj>,...,winery,None,None,None,None,None,None,coffee shop,coffee,drink
11362,140,soda,None,typical,category property,soda is a beverage served at a winery,soda,popular_at,<subj> is a beverage served at a <answer>,a beverage served at a <answer> is <subj>,...,winery,None,None,None,None,None,None,fast food restaurant,soda,drink

In [126]:

corr_properties = res.loc[lambda x: x.property!="category_membership"].loc[lambda x: x.correct_fwd]
 # join w/ edits/evals on corr_properties.subj = eval_df.entity and property=property
# when editing whether a dog is a cow, only test on properties it knew cows have
# and only test "unchanged" properties it knew dogs have

# corr_properties

(
    pd.merge(
        corr_properties.filter(["entity", "property"]),
        eval_df.loc[lambda x: x.edit_type == "category membership"],
        how = "left",
        on = ["entity", "property"]
    )
)

# eval_df.loc[lambda x: x.edit_type == "category property"]

# corr_properties

,entity,property,index,orig_entity,token_type,edit_type,edit,subj,query_fwd,query_rev,...,answer_fwd,answer_rev,orig_answer_fwd,orig_answer_rev,foil1,foil2,foil3,orig_answer,entity_type,superordinate_category
0,dog,genus,200.0,cow,typical,category membership,Holstein -> dog,Holstein,the animal group to which <subj> belong is com...,one type of <answer> is a <subj>,...,mammals,<subj>,mammals,<subj>,aves,reptiles,insects,None,None,animal
1,dog,genus,201.0,pig,typical,category membership,Hampshire -> dog,Hampshire,the animal group to which <subj> belong is com...,one type of <answer> is a <subj>,...,mammals,<subj>,mammals,<subj>,aves,reptiles,insects,None,None,animal
2,dog,genus,202.0,bird,typical,category membership,sparrow -> dog,sparrow,the animal group to which <subj> belong is com...,one type of <answer> is a <subj>,...,mammals,<subj>,aves,<subj>,aves,reptiles,insects,None,None,animal
3,dog,genus,203.0,bee,typical,category membership,bumblebee -> dog,bumblebee,the animal group to which <subj> belong is com...,one type of <answer> is a <subj>,...,mammals,<subj>,insects,<subj>,aves,reptiles,insects,None,None,animal
4,dog,genus,204.0,cow,rare,category membership,Galloway -> dog,Galloway,the animal group to which <subj> belong is com...,one type of <answer> is a <subj>,...,mammals,<subj>,mammals,<subj>,aves,reptiles,insects,None,None,animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4050,tea,served_from,523.0,wine,typical,category membership,Pinot Noir -> tea,Pinot Noir,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,kettle,<subj>,wine bottle,<subj>,beer keg,decanter,soda fountain,None,None,drink
4051,tea,served_from,524.0,whisky,typical,category membership,bourbon -> tea,bourbon,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,kettle,<subj>,decanter,<subj>,beer keg,decanter,soda fountain,None,None,drink
4052,tea,served_from,525.0,beer,rare,category membership,rauchbier -> tea,rauchbier,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,kettle,<subj>,beer keg,<subj>,beer keg,decanter,soda fountain,None,None,drink
4053,tea,served_from,526.0,wine,rare,category membership,Malbec -> tea,Malbec,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,kettle,<subj>,wine bottle,<subj>,beer keg,decanter,soda fountain,None,None,drink
4054,tea,served_from,527.0,whisky,rare,category membership,Speyside -> tea,Speyside,<subj> is stored and served from a <answer>,a <answer> stores and serves <subj>,...,kettle,<subj>,decanter,<subj>,beer keg,decanter,soda fountain,None,None,drink

# Old stuff

In [149]:
def load_result(filename):
    x = pd.read_csv(filename, converters={'fwd_choices':literal_eval, 'rev_choices':literal_eval})
    return(x)

res = load_result("results/csv/meta-llama-Llama-2-7b-hf-baseline.csv")


# res.filter(["entity", "query_fwd", "query_rev", "answer_fwd", "correct_fwd", "correct_rev"])
# res.agg(corr_fwd = ("correct_fwd", "mean"), corr_rev = ("correct_rev", "mean"))

(
    res
    .loc[lambda x: (~x.property.str.startswith("category_membership"))]
    .filter(['superordinate_category', 'entity','token_type','subj','property','query_fwd','query_rev','correct_fwd','correct_rev'])
    .melt(id_vars = ['superordinate_category', 'entity','token_type','subj','property','query_fwd','query_rev'], value_vars = ['correct_fwd', 'correct_rev'], var_name = "query_type", value_name = "correct")
    .loc[lambda x: x.query_type == "correct_rev"]
    .groupby(['property', 'superordinate_category'])
    .agg(corr_prop = ('correct', 'mean'), n = ('correct', 'count'))
    .sort_values('corr_prop')
)

# res

                                         corr_prop  n
property         superordinate_category
ends             plant                    0.000000  1
food             animal                   0.000000  2
covering         animal                   0.000000  1
is_wild          animal                   0.000000  3
end              instrument               0.166667  6
tuned            instrument               0.166667  6
stops_at         vehicle                  0.200000  5
leg_count        animal                   0.285714  7
steers_by        vehicle                  0.333333  6
flavor           drink                    0.333333  3
grows            plant                    0.333333  3
moves            animal                   0.375000  8
remove           food                     0.400000  5
genus            animal                   0.400000  5
lowest_note      instrument               0.400000  5
reproduces_by    plant                    0.500000  4
likes_to         animal                   0.500000  4
like_to_interact animal                   0.500000  6
nutrients        food                     0.500000  6
live_in          animal                   0.500000  2
played_on        instrument               0.500000  6
served           drink                    0.500000  6
has              animal                   0.500000  8
steered_with     vehicle                  0.500000  6
give_birth       animal                   0.571429  7
played_from      instrument               0.600000  5
gets_energy      plant                    0.600000  5
comes_from       food                     0.600000  5
rear_has         vehicle                  0.600000  5
makes_sound      instrument               0.600000  5
has              instrument               0.600000  5
largest_part     plant                    0.666667  3
color            food                     0.666667  3
can              animal                   0.666667  3
played_by        instrument               0.666667  6
is_domesticated  animal                   0.666667  3
served_from      drink                    0.750000  4
adapted_to       plant                    0.750000  4
used_for         plant                    0.800000  5
has_many         plant                    0.833333  6
preparation      food                     1.000000  4
produces         animal                   1.000000  2
product_type     food                     1.000000  6
purpose          vehicle                  1.000000  5
makes_sound      animal                   1.000000  7
made_with        drink                    1.000000  5
made_by          drink                    1.000000  3
habitat          plant                    1.000000  2
served_in        drink                    1.000000  5
contains         drink                    1.000000  6
builds           animal                   1.000000  1
baby_name        animal                   1.000000  5
travel           vehicle                  1.000000  6
popular_at       drink                    1.000000  4

In [150]:
# res.columns
res.loc[lambda x: x.property == "served"].filter(['entity', 'subj', 'query_fwd', 'fwd_choices', 'fwd_predicted']).assign(fwd_ans = lambda d: d.apply(lambda x: x.fwd_choices[x.fwd_predicted], 1))

,entity,subj,query_fwd,fwd_choices,fwd_predicted,fwd_ans
379,beer,beer,<subj> is best served <answer>,"[cold but not iced, hot or iced, chilled or ro...",0,cold but not iced
386,wine,wine,<subj> is best served <answer>,"[chilled, hot or iced, straight, ice cold]",0,chilled
393,whisky,whisky,<subj> is best served <answer>,"[straight, hot or iced, cold but not iced]",2,cold but not iced
397,soda,soda,<subj> is best served <answer>,"[ice cold, cold but not iced, chilled or room ...",0,ice cold
402,coffee,coffee,<subj> is best served <answer>,"[hot or iced, chilled, cold but not iced, stra...",0,hot or iced
409,tea,tea,<subj> is best served <answer>,"[hot or iced, chilled, cold but not iced, stra...",0,hot or iced

In [152]:
(
    res
    .loc[lambda x: (x.property.str.startswith("category_membership"))]
    .filter(['superordinate_category', 'entity','token_type','subj','property','query_fwd','query_rev','correct_fwd','correct_rev'])
    .melt(id_vars = ['superordinate_category', 'entity','token_type','subj','property','query_fwd','query_rev'], value_vars = ['correct_fwd', 'correct_rev'], var_name = "query_type", value_name = "correct")
    .loc[lambda x: x.query_type == "correct_fwd"]
    .groupby(['property', 'superordinate_category'])
    .agg(corr_prop = ('correct', 'mean'), n = ('correct', 'count'))
    .sort_values('corr_prop')
)

                                            corr_prop   n
property            superordinate_category
category_membership food                     0.821429  28
                    instrument               0.833333  24
                    plant                    0.843750  32
                    vehicle                  0.916667  24
                    animal                   1.000000  32
                    drink                    1.000000  24

In [153]:
# res.loc[lambda x: (x.property == "category_membership") & (x.superordinate_category == "food")].filter(['entity', 'subj', 'query_fwd', 'fwd_choices', 'fwd_predicted', 'correct_fwd' ]).assign(fwd_ans = lambda d: d.apply(lambda x: x.fwd_choices[x.fwd_predicted], 1))
res.loc[lambda x: (x.property == "category_membership") & (x.superordinate_category == "food")].filter(['entity', 'subj', 'query_fwd', 'fwd_choices', 'fwd_predicted', 'correct_fwd' ]).assign(fwd_ans = lambda d: d.apply(lambda x: x.fwd_choices[x.fwd_predicted], 1))

,entity,subj,query_fwd,fwd_choices,fwd_predicted,correct_fwd,fwd_ans
296,cheese,cheddar,a <subj> is a kind of <answer>,"[cheese, meat, apple, orange, banana, crucifer...",0,True,cheese
297,meat,ribeye steak,a <subj> is a kind of <answer>,"[meat, cheese, apple, orange, banana, crucifer...",0,True,meat
298,apple,Gala,a <subj> is a kind of <answer>,"[apple, cheese, meat, orange, banana, crucifer...",1,False,cheese
299,orange,Valencia,a <subj> is a kind of <answer>,"[orange, cheese, meat, apple, banana, crucifer...",0,True,orange
300,banana,Cavendish,a <subj> is a kind of <answer>,"[banana, cheese, meat, apple, orange, crucifer...",6,False,potato
301,cruciferous vegetable,broccoli,a <subj> is a kind of <answer>,"[cruciferous vegetable, cheese, meat, apple, o...",0,True,cruciferous vegetable
302,potato,Russet,a <subj> is a kind of <answer>,"[potato, cheese, meat, apple, orange, banana, ...",0,True,potato
303,cheese,Mozzarella,a <subj> is a kind of <answer>,"[cheese, meat, apple, orange, banana, crucifer...",0,True,cheese
304,meat,Porkchop,a <subj> is a kind of <answer>,"[meat, cheese, apple, orange, banana, crucifer...",0,True,meat
305,apple,McIntosh,a <subj> is a kind of <answer>,"[apple, cheese, meat, orange, banana, crucifer...",0,True,apple
306,orange,Mandarin,a <subj> is a kind of <answer>,"[orange, cheese, meat, apple, banana, crucifer...",4,False,banana
307,banana,Plantain,a <subj> is a kind of <answer>,"[banana, cheese, meat, apple, orange, crucifer...",0,True,banana
308,cruciferous vegetable,cabbage,a <subj> is a kind of <answer>,"[cruciferous vegetable, cheese, meat, apple, o...",0,True,cruciferous vegetable
309,potato,fingerling,a <subj> is a kind of <answer>,"[potato, cheese, meat, apple, orange, banana, ...",0,True,potato
310,cheese,Limburger,a <subj> is a kind of <answer>,"[cheese, meat, apple, orange, banana, crucifer...",0,True,cheese
311,meat,Oxtail,a <subj> is a kind of <answer>,"[meat, cheese, apple, orange, banana, crucifer...",0,True,meat
312,apple,Jonagold,a <subj> is a kind of <answer>,"[apple, cheese, meat, orange, banana, crucifer...",0,True,apple
313,orange,Sanguinello,a <subj> is a kind of <answer>,"[orange, cheese, meat, apple, banana, crucifer...",0,True,orange
314,banana,Manzano,a <subj> is a kind of <answer>,"[banana, cheese, meat, apple, orange, crucifer...",3,False,apple
315,cruciferous vegetable,Rapini,a <subj> is a kind of <answer>,"[cruciferous vegetable, cheese, meat, apple, o...",0,True,cruciferous vegetable
316,potato,Kennebec,a <subj> is a kind of <answer>,"[potato, cheese, meat, apple, orange, banana, ...",0,True,potato
317,cheese,Halloumi,a <subj> is a kind of <answer>,"[cheese, meat, apple, orange, banana, crucifer...",0,True,cheese
318,meat,Pork Jowl,a <subj> is a kind of <answer>,"[meat, cheese, apple, orange, banana, crucifer...",0,True,meat
319,apple,Cripps Pink,a <subj> is a kind of <answer>,"[apple, cheese, meat, orange, banana, crucifer...",0,True,apple
320,orange,Satsuma,a <subj> is a kind of <answer>,"[orange, cheese, meat, apple, banana, crucifer...",0,True,orange
321,banana,Pisang Raja,a <subj> is a kind of <answer>,"[banana, cheese, meat, apple, orange, crucifer...",0,True,banana
322,cruciferous vegetable,Rutabaga,a <subj> is a kind of <answer>,"[cruciferous vegetable, cheese, meat, apple, o...",0,True,cruciferous vegetable
323,potato,Norgold,a <subj> is a kind of <answer>,"[potato, cheese, meat, apple, orange, banana, ...",4,False,orange

In [59]:
res = load_result("results/csv/meta-llama-Llama-2-7b-hf-ICE.csv")
res.filter(["entity", "subj", "property", "answer_fwd", "fwd_choices", "rev_choices", "corr_fwd_answer", "fwd_predicted", "correct_fwd"])


(
res
# .loc[lambda x: x.edit_type == "category property"]
.assign(
    chance_fwd = lambda d: d.apply(lambda x: 1/len(x.fwd_choices), 1),
    chance_rev = lambda d: d.apply(lambda x: 1/len(x.rev_choices), 1)
)
.filter(['edit_type', 'entity','token_type','subj','property', 'edit', 'query_fwd','query_rev','correct_fwd','correct_rev', 'chance_fwd', 'chance_rev'])
.pivot_longer(
    index = ['edit_type', 'entity','token_type','subj','property', 'edit', 'query_fwd', 'query_rev'],
    names_to = ('var', 'query_type'),
    names_sep = '_'
)
# .assign(test_group = lambda x: np.where(x.property.str.startswith("category_"), "category membership", "property"))
.assign(test_group = lambda x: )
# .assign(test_group = lambda x: np.select(
#     [x.property == "category_membership", x.property.str.startswith("category_"), x.property.notna()],
#     ["category (exact)", "category (paraphrase)", "property"]
#     ))
.groupby(['test_group', 'var'])
.agg(
    prop = ('value', 'mean')
    )
.reset_index()
.pivot(index = ['test_group'], columns = ['var'], values = 'prop')

)

SyntaxError: invalid syntax (3283398818.py, line 19)

In [7]:
# define reporting function
def report_results(df):
    
    out = (
        df
        .assign(
            chance_fwd = lambda d: d.apply(lambda x: 1/len(x.fwd_choices), 1),
            chance_rev = lambda d: d.apply(lambda x: 1/len(x.rev_choices), 1)
        )
        .filter(['edit_type','entity','token_type','subj','property', 'edit', 'query_fwd','query_rev','correct_fwd','correct_rev', 'chance_fwd', 'chance_rev'])
        .pivot_longer(
            index = ['edit_type', 'entity','token_type','subj','property', 'edit', 'query_fwd', 'query_rev'],
            names_to = ('var', 'query_type'),
            names_sep = '_'
        )
        # .assign(test_group = lambda x: np.where(x.property.str.startswith("category_"), "category membership", "property"))
        .assign(test_group = lambda x: np.select(
            [(x.edit_type == "category property") & (x.subj == x.entity), x.edit_type == "category property", x.property == "category_membership", x.property.str.startswith("category_"), x.property.notna()],
            ["CP: category property", "CP: token property", "CM: category membership (exact)", "CM: category membership (paraphrase)", "CM: token property"]
            ))
        .groupby(['test_group', 'var'])
        .agg(
            prop = ('value', 'mean')
            )
        .reset_index()
        .pivot(index = ['test_group'], columns = ['var'], values = 'prop')

    )
     
    out2 = (
        df    
        .assign(
            chance_fwd = lambda d: d.apply(lambda x: 1/len(x.fwd_choices), 1),
            chance_rev = lambda d: d.apply(lambda x: 1/len(x.rev_choices), 1)
        )
        .filter(['edit_type', 'entity','token_type','subj','property', 'edit', 'query_fwd','query_rev','correct_fwd','correct_rev', 'chance_fwd', 'chance_rev'])
        .pivot_longer(
            index = ['edit_type','entity','token_type','subj','property', 'edit', 'query_fwd', 'query_rev'],
            names_to = ('var', 'query_type'),
            names_sep = '_'
        )
        # .assign(test_group = lambda x: np.where(x.property.str.startswith("category_"), "category membership", "property"))
        .assign(test_group = lambda x: np.select(
            [(x.edit_type == "category property") & (x.subj == x.entity), (x.edit_type == "category property") & (x.subj != x.entity), x.property == "category_membership", x.property.str.startswith("category_"), x.property.notna()],
            ["CP: category property", "CP: token property", "CM: category membership (exact)", "CM: category membership (paraphrase)", "CM: token property"]
            ))
        .groupby(['test_group', 'query_type', "token_type", 'var'])
        .agg(
            prop = ('value', 'mean')
            )
        .reset_index()
        .pivot(index = ['test_group','query_type', "token_type"], columns = ['var'], values = 'prop')

    )

    return pd.concat([out, out2])

report_results(load_result("results/csv/meta-llama-Llama-2-7b-hf-ICE.csv"))

/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}
/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}

var                                                   chance   correct
CM: category membership (exact)                     0.123906  1.000000
CM: category membership (paraphrase)                0.123906  0.833333
CM: token property                                  0.269753  0.722222
CP: category property                               0.220238  0.583333
CP: token property                                  0.171954  0.243056
(CM: category membership (exact), fwd, rare)        0.142857  1.000000
(CM: category membership (exact), fwd, typical)     0.152778  1.000000
(CM: category membership (exact), rev, rare)        0.090909  1.000000
(CM: category membership (exact), rev, typical)     0.099715  1.000000
(CM: category membership (paraphrase), fwd, rare)   0.142857  0.333333
(CM: category membership (paraphrase), fwd, typ...  0.152778  0.777778
(CM: category membership (paraphrase), rev, rare)   0.090909  1.000000
(CM: category membership (paraphrase), rev, typ...  0.099715  1.000000
(CM: token property, fwd, rare)                     0.283333  0.200000
(CM: token property, fwd, typical)                  0.290909  0.500000
(CM: token property, rev, rare)                     0.250000  1.000000
(CM: token property, rev, typical)                  0.250000  1.000000
(CP: category property, fwd, typical)               0.241667  0.333333
(CP: category property, rev, typical)               0.198810  0.833333
(CP: token property, fwd, rare)                     0.238889  0.277778
(CP: token property, fwd, typical)                  0.238889  0.277778
(CP: token property, rev, rare)                     0.105018  0.222222
(CP: token property, rev, typical)                  0.105018  0.194444

In [121]:
load_result("results/csv/meta-llama-Llama-2-7b-hf-ROME.csv")

,index,entity,orig_entity,token_type,edit_type,edit,subj,property,query_fwd,query_rev,...,orig_answer,entity_type,superordinate_category,corr_fwd_answer,corr_rev_answer,fwd_predicted,rev_predicted,correct_fwd,correct_rev,edit_method
0,16.0,vine,NaN,typical,category property,a vine typically has many gills,ivy,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,4,False,False,ROME
1,17.0,vine,NaN,typical,category property,a vine typically has many gills,bougainvillea,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,5,False,False,ROME
2,18.0,vine,NaN,rare,category property,a vine typically has many gills,Honeysuckle,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,1,False,False,ROME
3,19.0,vine,NaN,rare,category property,a vine typically has many gills,Passionflower,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,1,False,False,ROME
4,152.0,vine,NaN,typical,category property,a vine typically has many blades,ivy,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,2,False,False,ROME
5,153.0,vine,NaN,typical,category property,a vine typically has many blades,bougainvillea,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,2,False,False,ROME
6,154.0,vine,NaN,rare,category property,a vine typically has many blades,Honeysuckle,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,1,False,False,ROME
7,155.0,vine,NaN,rare,category property,a vine typically has many blades,Passionflower,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,1,False,False,ROME
8,288.0,vine,NaN,typical,category property,a vine typically has many needles,ivy,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,4,False,False,ROME
9,289.0,vine,NaN,typical,category property,a vine typically has many needles,bougainvillea,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,4,False,False,ROME
10,290.0,vine,NaN,rare,category property,a vine typically has many needles,Honeysuckle,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,7,False,False,ROME
11,291.0,vine,NaN,rare,category property,a vine typically has many needles,Passionflower,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,7,False,False,ROME
12,16.0,vine,NaN,typical,category property,a vine typically has many gills,vine,has_many,a <subj> typically has many <answer>,a plant with many <answer> is a <subj>,...,tendrils,vine,plant,0,0,1,1,False,False,ROME
13,819.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,leg_count,<subj> are animals that have <answer>,<answer> can be found on <subj>,...,NaN,NaN,animal,0,0,3,3,False,False,ROME
14,840.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,like_to_interact,<subj> are an animal people <answer>,one animal people <answer> is a <subj>,...,NaN,NaN,animal,0,0,3,1,False,False,ROME
15,854.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,likes_to,<subj> like to <answer>,to <answer> is something enjoyed by <subj>,...,NaN,NaN,animal,0,0,0,3,True,False,ROME
16,875.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,makes_sound,a sound a <subj> makes is <answer>,<answer> is a sound made by a <subj>,...,NaN,NaN,animal,0,0,0,2,True,False,ROME
17,902.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,moves,<subj> move by <answer>,<answer> is the movement of <subj>,...,NaN,NaN,animal,0,0,0,1,True,False,ROME
18,921.0,pig,cat,rare,category membership,Chartreux -> pig,Chartreux,baby_name,a baby <subj> is called a <answer>,a <answer> is a baby <subj>,...,NaN,NaN,animal,0,0,0,2,True,False,ROME
19,19.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,played_from,a <subj> is played while held <answer>,an instrument played <answer> is a <subj>,...,NaN,NaN,instrument,0,0,0,1,True,False,ROME
20,36.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,played_on,a player's hands rest on the <subj>'s <answer>,players place their hands on the <answer> of a...,...,NaN,NaN,instrument,0,0,3,2,False,False,ROME
21,55.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,makes_sound,one key to the sound of a <subj> is its <answer>,an instrument whose <answer> is key to its sou...,...,NaN,NaN,instrument,0,0,0,2,True,False,ROME
22,72.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,tuned,a <subj> is tuned with its <answer>,an instrument tuned with <answer> is a <subj>,...,NaN,NaN,instrument,0,0,0,1,True,False,ROME
23,92.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,end,on the end of a <subj> is its <answer>,a <answer> is on the end of a <subj>,...,NaN,NaN,instrument,0,0,0,2,True,False,ROME
24,128.0,acoustic guitar,clarinet,typical,category membership,Buffet crampon -> acoustic guitar,Buffet crampon,played_by,a <subj> is played by <answer>,<answer> is the way to play a <subj>,...,NaN,NaN,instrument,0,0,2,3,False,False,ROME
25,357.0,coffee,beer,rare,category membership,gose -> coffee,gose,contains,<subj> contains <answer>,a beverage that contains <answer> is <subj>,...,NaN,NaN,drink,0,0,0,1,True,False,ROME
26,376.0,coffee,beer,rare,category membership,gose -> coffee,gose,made_with,an important ingredient in <subj> is <answer>,<answer> is an important ingredient in <subj>,...,NaN,NaN,drink,0,0,0,1,True,False,ROME
27,393.0,coffee,beer,rare,category membership,gose -> coffee,gose,served,<subj> is best served <answer>,<answer> is the best way to serve <subj>,...,NaN,NaN,drink,0,0,3,3,False,False,ROME
28,412.0,coffee,beer,rare,category membership,gose -> coffee,gose,served_in,<subj> is served in a <answer>,a <answer> is used to serve <subj>,...,NaN,NaN,drink,0,0,0,1,True,False,ROME
29,427.0,coffee,beer,rare,category membership,gose -> coffee,gose,popular_at,<subj> is a beverage served at a <answer>,a beverage served at a <answer> is <subj>,...,NaN,NaN,drink,0,0,0,2,True,False,ROME
30,1462.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,can,<subj> can <answer>,one animal that can <answer> is a <subj>,...,NaN,NaN,animal,0,0,3,0,False,True,ROME
31,1290.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,give_birth,a baby <subj> is <answer>,one animal whose offspring is <answer> is a <s...,...,NaN,NaN,animal,0,0,0,0,True,True,ROME
32,1336.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,has,<subj> have <answer>,one animal that has <answer> is <subj>,...,NaN,NaN,animal,0,0,2,0,False,True,ROME
33,1337.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,has,<subj> have <answer>,<answer> are found on <subj>,...,NaN,NaN,animal,0,0,1,3,False,False,ROME
34,1338.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,has,<subj> have <answer>,one animal that has <answer> is <subj>,...,NaN,NaN,animal,0,0,0,0,True,True,ROME
35,1339.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,has,<subj> have <answer>,<answer> are found on <subj>,...,NaN,NaN,animal,0,0,1,1,False,False,ROME
36,1470.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,is_wild,most <subj> are <answer>,one animal that is typically <answer> is a <subj>,...,NaN,NaN,animal,0,0,0,0,True,True,ROME
37,1439.0,fish,bird,rare,category membership,woodpecker -> fish,woodpecker,moves,<subj> move by <answer>,<answer> is the movement of <subj>,...,NaN,NaN,animal,0,0,0,0,True,True,ROME

In [8]:
report_results(load_result("results/csv/meta-llama-Llama-2-7b-hf-ROME.csv"))

/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}
/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}

var                                                   chance   correct
CM: category membership (exact)                     0.123906  0.500000
CM: category membership (paraphrase)                0.123906  0.458333
CM: token property                                  0.269753  0.462963
CP: category property                               0.220238  0.166667
CP: token property                                  0.171954  0.152778
(CM: category membership (exact), fwd, rare)        0.142857  1.000000
(CM: category membership (exact), fwd, typical)     0.152778  1.000000
(CM: category membership (exact), rev, rare)        0.090909  0.000000
(CM: category membership (exact), rev, typical)     0.099715  0.000000
(CM: category membership (paraphrase), fwd, rare)   0.142857  1.000000
(CM: category membership (paraphrase), fwd, typ...  0.152778  0.888889
(CM: category membership (paraphrase), rev, rare)   0.090909  0.000000
(CM: category membership (paraphrase), rev, typ...  0.099715  0.000000
(CM: token property, fwd, rare)                     0.283333  0.400000
(CM: token property, fwd, typical)                  0.290909  0.545455
(CM: token property, rev, rare)                     0.250000  0.200000
(CM: token property, rev, typical)                  0.250000  0.454545
(CP: category property, fwd, typical)               0.241667  0.000000
(CP: category property, rev, typical)               0.198810  0.333333
(CP: token property, fwd, rare)                     0.238889  0.250000
(CP: token property, fwd, typical)                  0.238889  0.222222
(CP: token property, rev, rare)                     0.105018  0.111111
(CP: token property, rev, typical)                  0.105018  0.027778

In [7]:
report_results( load_result("results/csv/meta-llama-Llama-2-7b-hf-FT.csv"))

/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}
/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}

var                                   chance   correct
CP: token property                  0.219841  0.166667
(CP: token property, fwd, rare)     0.277778  0.333333
(CP: token property, fwd, typical)  0.277778  0.333333
(CP: token property, rev, rare)     0.161905  0.000000
(CP: token property, rev, typical)  0.161905  0.000000

In [7]:
report_results(load_result("results/csv/meta-llama-Llama-2-7b-hf-ICE.csv"))

/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}
/home/dmpowell/.conda/envs/EasyEdit/lib/python3.9/site-packages/janitor/functions/pivot.py:903: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  values = {values_to: concat_compat(values)}

var                                      chance   correct
category (exact)                       0.107734  1.000000
category (paraphrase)                  0.107734  0.922619
property                               0.262325  0.767964
(category (exact), fwd, rare)          0.135057  1.000000
(category (exact), fwd, typical)       0.129630  1.000000
(category (exact), rev, rare)          0.085175  1.000000
(category (exact), rev, typical)       0.080722  1.000000
(category (paraphrase), fwd, rare)     0.135057  0.908046
(category (paraphrase), fwd, typical)  0.129630  0.839506
(category (paraphrase), rev, rare)     0.085175  0.988506
(category (paraphrase), rev, typical)  0.080722  0.950617
(property, fwd, rare)                  0.274688  0.493750
(property, fwd, typical)               0.274617  0.574713
(property, rev, rare)                  0.250000  1.000000
(property, rev, typical)               0.250000  1.000000